/* Adicionar aqui toda a estilização criada para sua aplicação. */
*{
    margin: 0;
    padding: 0;
}


/* Geral */

body{
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: solid 3px rgb(18, 212, 247);
}

.header .titulo{
    color: rgb(18, 212, 247);
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.header .container .navbar{
    display: flex;
    flex-direction: row;
    width: 550px;
    justify-content: space-around;
    color: rgb(250, 143, 43);
}

.header .container .navbar li{
    list-style: none;
    font-weight: bold;
}

.header .container .navbar li a{
    color: rgb(233, 137, 47);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.header .container .navbar .agora{
    border-bottom: solid 2px rgb(233, 137, 47);
}


.footer{
    display: flex;
    justify-content: center;

    background-color: rgb(18, 212, 247);
    height: 110px;
    bottom: 0;
    width: 100%;
}

.footer .container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.904);
    margin-top: 20px;
}


/* Pagina Inicial */

.banner .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    height: 400px;
    color: white;
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 200px;
}

.banner .container p{
    width: 250px;
}

.banner .container span{
    font-weight: bold;
}

.social .container .boxes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 400px;
}

.social .container .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.social .container .boxes .box img{
    width: 100px;
    margin-bottom: 15px;
    border: solid 2px black;
}

.social .container .boxes .box h4{
    color: rgb(226, 13, 137);
    font-size: 18px;
    margin-bottom: 15px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.login .container{
    background-color: aliceblue;
    color: rgb(230, 102, 123);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 600px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.login .container .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 95%;
}

.login .container .card-cadastro h2{
    font-size: 26px;
}

.login .container .card-cadastro .formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 95%;
}

.login .container .card-cadastro .formulario .campo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80px;
    width: 100%;
}

.login .container .card-cadastro .formulario .campo input{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 2px rgb(18, 212, 247);
}

.login .container .card-cadastro .formulario .botao{
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border: 0px;
    background-color: rgb(230, 102, 123);
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* Página de Login */

.login .container-login{
    background-color: aliceblue;
    color: rgb(230, 102, 123);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 450px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.login .container-login .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 95%;
}

.login .container-login .card-login h2{
    font-size: 26px;
}

.login .container-login .card-login .formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 95%;
}

.login .container-login .card-login .formulario .campo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80px;
    width: 100%;
}

.login .container-login .card-login .formulario .campo input{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 2px rgb(18, 212, 247);
}

.login .container-login .card-login .formulario .botao{
    margin-top: 20px;
    height: 45px;
    width: 120px;
    border: 0px;
    background-color: rgb(230, 102, 123);
    border-radius: 5px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* Página do Simulador */
.simulador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.simulador .container{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    width: 600px;
    height: 80vh;
    background-color: white;
    padding: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.simulador .container h2{
    font-size: 30px;
}